<!DOCTYPE html>
<html>
<head>
    <title>ASCII Art</title>
</head>
<body>

<h1>ASCII Art Generator</h1>

<form action="/ascii-art" method="POST">
    <textarea name="text" rows="5" cols="40"></textarea><br><br>

    <input type="radio" name="banner" value="standard" checked> Standard
    <input type="radio" name="banner" value="shadow"> Shadow
    <input type="radio" name="banner" value="thinkertoy"> Thinkertoy

    <br><br>
    <button type="submit">Generate</button>
</form>

<pre>
{{.Result}}
</pre>

</body>
</html>